<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555826900375-j9dpdk58d3lp3kdmatvkh5l2riea7jm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555826900375-j9dpdk58d3lp3kdmatvkh5l2riea7jm4</string>
	<key>API_KEY</key>
	<string>AIzaSyCCc1MD5SNdvx_yPbTtiebJiVFj_TlrlC4</string>
	<key>GCM_SENDER_ID</key>
	<string>555826900375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toda</string>
	<key>PROJECT_ID</key>
	<string>todo-list-53321</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-53321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555826900375:ios:0c1e297872916b633f68d2</string>
</dict>
</plist>